# Data Cleaning

- Data cleaning is the process of identifying and correcting (or removing) inaccurate, incomplete, or irrelevant data to improve its quality and ensure that machine learning models are trained effectively.
- Poor data quality can lead to incorrect or biased results, making data cleaning an essential step in the preprocessing pipeline.

#### Common Data Cleaning Techniques
##### 1. Handling Missing Data
- Missing data is a common issue in datasets. Common techniques include:

##### Removal of Missing Data

- Remove rows or columns with missing values.
- Suitable when the missing data is a small percentage of the dataset.
##### Imputation

###### Replace missing values with:
- Mean/Median/Mode: For numerical or categorical data.
- Forward/Backward Fill: Use adjacent values for time-series data.
- Predictive Models: Use regression or k-nearest neighbors (KNN) to predict missing values.

## 2. Handling Duplicates
- Duplicate records can distort analysis and model training.

- Detection: Use functions like pandas.DataFrame.duplicated() in Python.
- Removal: Drop duplicate rows using tools like drop_duplicates() in Python or manual filtering in spreadsheets.

## 3. Outlier Detection and Removal
- Outliers can skew analysis and model performance.

#### Statistical Methods:
- Remove data points outside a specified range (e.g., ±3 standard deviations or outside the IQR).
- Use Z-scores or boxplots to identify anomalies.
#### Domain Knowledge: 
- Apply context-specific thresholds to identify invalid values.

## 4. Standardizing Data Formats
- Ensure consistency in data formats to avoid processing errors.

- Date Formats: Convert all date-time fields into a standard format (e.g., ISO 8601).
- String Formats: Standardize case (e.g., all lowercase), remove trailing spaces, or unify abbreviations.

## 5. Removing Irrelevant Data
- Identify and remove columns or rows that are unnecessary or redundant for the analysis.

#### Feature Selection: 
- Use techniques like correlation analysis or feature importance scores to decide which features to retain.

## 6. Fixing Data Entry Errors
- Correct typographical or logical errors in the data.

- Regex Matching: Identify and fix patterns that don’t conform (e.g., email formats, phone numbers).
- Manual Review: For small datasets, inspect and correct errors manually.
- Automated Scripts: Write custom scripts to clean recurring issues.

## 7. Consistent Encoding
- Ensure categorical variables have consistent values.

- Example: Replace variations like "Male," "M," and "male" with a single representation ("Male").
- Tools: Use Python's replace() or map() functions for mapping.

## 8. Handling Out-of-Range Values
- Detect values that fall outside an acceptable domain.

- Example: If "age" has values above 120 or below 0, flag them as errors.
- Actions: Replace out-of-range values with appropriate substitutes or remove them.

## 9. Converting Data Types
- Incorrect data types can lead to errors during analysis.

- Example: Convert numerical strings (e.g., "100") to integers.
- Tools: Use functions like astype() in Python or type conversion methods in SQL

## 10. Resolving Data Inconsistencies
- Case Sensitivity: Ensure consistent casing in text data (e.g., "Apple" vs. "apple").
- Unifying Units: Convert units to a common scale (e.g., inches to centimeters).
- Duplicate Categories: Merge similar categories (e.g., "NY" and "New York").

In [4]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {'Age': [25, 30, np.nan, 35, 40], 'City': ['NY', 'LA', np.nan, 'NY', 'LA']}
df = pd.DataFrame(data)

# Mean Imputation for 'Age'
df['Age_mean'] = df['Age'].fillna(df['Age'].mean())

# Median Imputation for 'Age'
df['Age_median'] = df['Age'].fillna(df['Age'].median())

# Mode Imputation for 'City'
df['City_mode'] = df['City'].fillna(df['City'].mode()[0])

print(df)

    Age City  Age_mean  Age_median City_mode
0  25.0   NY      25.0        25.0        NY
1  30.0   LA      30.0        30.0        LA
2   NaN  NaN      32.5        32.5        LA
3  35.0   NY      35.0        35.0        NY
4  40.0   LA      40.0        40.0        LA

In [13]:
#Constant Imputation
# Fills missing values with a constant value (e.g., 0, "Unknown").

#Use case: When domain knowledge suggests a default value.

df['City_constant'] = df['City'].fillna(0)

In [12]:
# 2. Forward Fill and Backward Fill
# Use adjacent values in time-series or ordered data.
# Forward Fill: Propagate the last observed value forward.
# Backward Fill: Use the next observed value.

In [5]:
# Forward Fill
df['Age_ffill'] = df['Age'].fillna(method='ffill')

# Backward Fill
df['Age_bfill'] = df['Age'].fillna(method='bfill')

print(df)

    Age City  Age_mean  Age_median City_mode  Age_ffill  Age_bfill
0  25.0   NY      25.0        25.0        NY       25.0       25.0
1  30.0   LA      30.0        30.0        LA       30.0       30.0
2   NaN  NaN      32.5        32.5        LA       30.0       35.0
3  35.0   NY      35.0        35.0        NY       35.0       35.0
4  40.0   LA      40.0        40.0        LA       40.0       40.0

In [6]:
# 3. Interpolation
# Estimate missing values by interpolating between available data points. Works well for numerical data.

# Interpolation
df['Age_interp'] = df['Age'].interpolate(method='linear')

print(df)

    Age City  Age_mean  Age_median City_mode  Age_ffill  Age_bfill  Age_interp
0  25.0   NY      25.0        25.0        NY       25.0       25.0        25.0
1  30.0   LA      30.0        30.0        LA       30.0       30.0        30.0
2   NaN  NaN      32.5        32.5        LA       30.0       35.0        32.5
3  35.0   NY      35.0        35.0        NY       35.0       35.0        35.0
4  40.0   LA      40.0        40.0        LA       40.0       40.0        40.0

In [7]:
# 4. K-Nearest Neighbors (KNN) Imputation
# Replace missing values based on the values of the k-nearest neighbors.
# Uses features of nearby rows to infer missing values.
from sklearn.impute import KNNImputer

# Sample DataFrame
data_knn = {'Feature1': [1, 2, np.nan, 4], 'Feature2': [7, np.nan, 9, 10]}
df_knn = pd.DataFrame(data_knn)

# KNN Imputation
imputer = KNNImputer(n_neighbors=2)
df_knn_imputed = pd.DataFrame(imputer.fit_transform(df_knn), columns=df_knn.columns)

print(df_knn_imputed)

   Feature1  Feature2
0       1.0       7.0
1       2.0       8.5
2       2.5       9.0
3       4.0      10.0

In [8]:
# 5. Regression Imputation
# Use regression models to predict and replace missing values.

from sklearn.linear_model import LinearRegression

# Sample DataFrame
data_reg = {'Age': [25, 30, np.nan, 35, 40], 'Salary': [50000, 60000, 70000, 80000, 90000]}
df_reg = pd.DataFrame(data_reg)

# Split into known and unknown
known = df_reg[df_reg['Age'].notnull()]
unknown = df_reg[df_reg['Age'].isnull()]

# Train regression model
model = LinearRegression()
model.fit(known[['Salary']], known['Age'])

# Predict missing values
df_reg.loc[df_reg['Age'].isnull(), 'Age'] = model.predict(unknown[['Salary']])

print(df_reg)

    Age  Salary
0  25.0   50000
1  30.0   60000
2  32.5   70000
3  35.0   80000
4  40.0   90000

In [10]:
# 6. Multiple Imputation
# Perform multiple imputations to create multiple datasets with plausible values and combine the results for robustness.
# Example:

# This typically requires a library like statsmodels or fancyimpute. Here's a simple demonstration using statsmodels.

from statsmodels.imputation.mice import MICEData

# Sample DataFrame
data_mice = {'Age': [25, np.nan, 35, np.nan, 40], 'Salary': [50000, 60000, 70000, 80000, 90000]}
df_mice = pd.DataFrame(data_mice)

# Multiple Imputation
mice_data = MICEData(df_mice)
df_mice_imputed = mice_data.data

print(df_mice_imputed)

    Age  Salary
0  25.0   50000
1  35.0   60000
2  35.0   70000
3  35.0   80000
4  40.0   90000

In [11]:
# 7. Random Sampling Imputation
# Replace missing values with random samples from the observed data.

# Random Sampling Imputation
df['Age_random'] = df['Age'].apply(lambda x: np.random.choice(df['Age'].dropna()) if pd.isnull(x) else x)

print(df)

    Age City  Age_mean  Age_median City_mode  Age_ffill  Age_bfill  \
0  25.0   NY      25.0        25.0        NY       25.0       25.0
1  30.0   LA      30.0        30.0        LA       30.0       30.0
2   NaN  NaN      32.5        32.5        LA       30.0       35.0
3  35.0   NY      35.0        35.0        NY       35.0       35.0
4  40.0   LA      40.0        40.0        LA       40.0       40.0

   Age_interp  Age_random
0        25.0        25.0
1        30.0        30.0
2        32.5        35.0
3        35.0        35.0
4        40.0        40.0